@import url(./Assets/codingfont.css);


body {
    background-color: rgb(17, 20, 24);
    color: rgb(211, 216, 216);
    font-family: 'Nanum Gothic Coding';
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}


a {
    text-decoration: none;
    color: rgb(211, 216, 216);

}
/* Toppanel rules */

#toppanel{
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: rgb(27, 116, 125);
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

#toppanel li{
    padding: 20px;
    display: inline;
    margin-right: -20px;
}

#content{
    color: rgb(211, 216, 216);
    padding-top: 100vh;
}

.external-links {
    float: right;
    margin-top:-32px;
    margin-left: -50px;
}

.external-links img{
    max-height: 40px;
    
}

/* Title slide rules */

#title-slide {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
}

#firstname{
    font-style: normal;
    color: rgb(38, 154, 153);
}

#secondname{
    font-style: normal;
    color: rgb(155, 110, 202);
}

#cursor{
    font-family: Helvetica;
    
    font-size: 90px;
    position: relative;
    bottom: -11px;
    left: -4px;
    font-weight: lighter;
}

#title{
    font-size: 60px;
}

/* Project slide rules */

#project-slide{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 20, 24);
    color: rgb(211, 216, 216);
    text-align: center;
}

#project-slide a {
    text-decoration: none;
    color: rgb(211, 216, 216);
    
    font-weight: 400;
    font-style: normal;
}



#project-contents{
    
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 20px;
    justify-items: center;

}

.project-title{
    background-color: rgb(27, 116, 125);
    grid-column: 1/4;
    grid-row: 1;
    width: 100vw;
    height: min-content;
    margin-top: 45px;
}

#project-contents img {
    min-width: 500px;
    max-height: 250px;
    
}



.bussite {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(27, 116, 125);
    width: min-content;
    box-shadow: 0px 0px 0px 0px rgb(38, 154, 153);
    
}

.future-project {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(27, 116, 125);
    width: min-content;
    box-shadow: 5px;
}

.future-project1 {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(27, 116, 125);
    width: min-content;
    padding: 5px;
    box-shadow: 5px;
}

.future-project2 {
    display: flex;
    grid-column: 2;
    grid-row: 3;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(27, 116, 125);
    width: min-content;
    padding: 5px;
    box-shadow: 5px;
}


tag {
    padding: 10px 0px 0px 0px;
}

#kp{
    border-radius: 5px;
}

/* animations */



