@import url(./Assets/codingfont.css);
@import url(./Assets/Sofiafont.css);

body {
    background-color: rgb(17, 20, 24);
    color: rgb(211, 216, 216);
    font-family: 'Nanum Gothic Coding';
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

/* Toppanel rules */

#toppanel{
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: rgb(27, 116, 125);
    font-weight: bold;
    text-align: center;
    z-index: 1;
    
    
    
}

#toppanel li{
    padding: 20px;
    display: inline;
    
}

#content{
    /* padding-top: 20%; */
    color: rgb(211, 216, 216);
    padding-top: 100vh;
    /* text-align: center; */
}

/* Title slide rules */

#title-slide {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
}

#firstname{
    font-style: normal;
    color: rgb(38, 154, 153);
}

#secondname{
    font-style: normal;
    color: rgb(155, 110, 202);
}

#cursor{
    font-family: Helvetica;
    
    font-size: 90px;
    position: relative;
    bottom: -11px;
    left: -4px;
    font-weight: lighter;
}

#title{
    font-size: 60px;
}

/* Project slide rules */

#project-slide{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 20, 24);
    color: rgb(211, 216, 216);
    text-align: center;
}

#project-slide a {
    text-decoration: none;
    color: rgb(211, 216, 216);
    font-family: 'Sofia Sans Semi Condensed' ;
    font-weight: 400;
    font-style: normal;
}



#project-contents{
    display: grid;
    grid-template-areas:
        "topbar topbar topbar"
        "project1 project2 project3"
        "project4 project5 project6";
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.project-title{
    background-color: rgb(27, 116, 125);
    grid-area: topbar;
    width: 100vw;
}

#project-contents img {
    max-width: 400px;
    max-height: 300px;
}

.bussite {
    display: flex;
    grid-area: project1;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(27, 116, 125);
    width: min-content;
}
